#root {
  /* max-width: 1280px;/ */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.menu{
  background-color: #646cff;
}

.main{
  height: calc(100% - 3.5rem);
}
.main-view{
  width: calc(100% - 3.5rem);
}
.menu-button{
  border-top: 1px white solid;
  font-size: 12px;
  color: white !important;
}
.menu-button:hover{
  background-color: #747bff;
}
.active{
  background-color: #213547;
} 
td, th{
  border: 1px solid #ddd;
}
thead{
  background-color: #646cff;
  color: white;
}
.popup{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}
.popup-form{
  background-color: #242424;
}
@media (prefers-color-scheme: light){
  .popup-form{
    background-color: white;
  }
}